.nav .open>a, .nav .open>a:focus, .nav .open>a:hover {
    background-color: transparent !important;
}
.nav>li>a:focus, .nav>li>a:hover {
    background-color: transparent !important;
}
.navbar-nav>li>.dropdown-menu {
      border-radius: 0.25rem !important;
}
.menu-hover{
    width: 320px;
}
.buton{
    border-radius: 5px !important;
    height: 40px;
    margin: 0px;
    padding: 0px;
    line-height: 3;
}
.mobil-login-title{
    color: #504a4a;
    margin-top: 17px;
}
.app-nav{
        position: fixed;
    width: 100%;
    margin-top: 0px;
    top: 0px;
    z-index: 999;
}
.body{
    margin-top: 90px;
}
.upper{
  position:relative;
  top:20px;
}