{% extends 'base/base.html' %}
{% block body %}


    <section class="section-features text-xs-center">
      <div class="container">
        <div class="row">
          <div class="col-md-4">
            <div class="card">
              <div class="card-block">
                <span class="icon-edit display-1"></span>
                <h4 class="card-title">Kolay Kullanım</h4>
                <p class="card-text">Hemen üye ol , kolayca satın al ve hemen kazanmaya başla! </p>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card">
              <div class="card-block">
                <span class="icon-lock display-1"></span>
                <h4 class="card-title">Güvenli</h4>
                <p class="card-text">Hesaplarınız Güvende!</p>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card m-b-0">
              <div class="card-block">
                <span class="fa fa-phone display-1"></span>
                <h4 class="card-title">7/24 CANLI DESTEK</h4>
                <p class="card-text">Kesintisiz hizmet veren çağrı merkezimiz ile anında iletişime geçip bilgi alabilirsiniz.
                    <h5>Canlı Destek <a href="tel:+908505328895"><span class="fa fa-phone"></span>(0850) 532 88 95</a></h5>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>


    <!-- Pricing
    ================================================== -->

    <section class="section-pricing bg-faded text-xs-center"><a name="sell"></a>
      <div class="container"  href="{% url 'home' %}">
        <h3>MINING CİHAZLARIMIZ</h3>
          <h5>*Bu Alan Sadece Cihazlar Hakkında Kısa Bilgiler İçermektedir.</h5><h5> Daha Fazla Bilgi ve Cihaz Satın Almak için Lütfen Giriş Yapınız, Kullanıcı Profilinizden Satın Alma İşlemlerini Gerçekleştirebilirsiniz!</h5>
        <div class="row p-y-3">
          <div class="col-md-3 p-t-md wp wp-5">
            <div class="card pricing-box pricing-best">
              <div class="card-header text-uppercase">
                ANTMINER L3+ MINING
              </div>
              <div class="card-block">
                <p class="card-title text-danger">*Bu Cihaz Yurtdışı Garantilidir.</p>
                <h4 class="card-text">
                    <sup class="pricing-box-currency">₺</sup>
                  <span class="pricing-box-price">19</span>
                  <small class="text-muted text-uppercase">/1 YIL</small>
                </h4>
              </div>
              <ul class="list-group list-group-flush p-x">
                <li class="list-group-item"><h5>-Kazım Gücü:</h5> 504.0 MH/s</li>
                 <li class="list-group-item"><h5>-Garanti Süresi:</h5>6 AY</li>
                 <li class="list-group-item"><h5>-Güç Tüketimi:</h5>800-900 WATT</li>
              </ul>
              <!--<a href="#" class="btn btn-primary-outline">SATIN AL</a>-->
            </div>
          </div>
          <div class="col-md-3 stacking-top">
            <div class="card pricing-box pricing-best p-x-0">
              <div class="card-header text-uppercase">
                BITMAIN ANTMINER D3
              </div>
              <div class="card-block">
               <p class="card-title text-danger">*Bu Cihaz Yurtdışı Garantilidir.</p>
                <h4 class="card-text">
                  <sup class="pricing-box-currency">₺</sup>
                  <span class="pricing-box-price">49</span>
                  <small class="text-muted text-uppercase">/1 YIL</small>
                </h4>
              </div>
              <ul class="list-group list-group-flush p-x">
                  <li class="list-group-item"><h5>-Kazım Gücü:</h5> 15 GH/s ±%5</li>
                  <li class="list-group-item"><h5>-Garanti Süresi:</h5>6 AY</li>
                  <li class="list-group-item"><h5>-Güç Tüketimi:</h5> 600-800 WATT</li>
              </ul>
             <!-- <a href="#" class="btn btn-primary">SATIN AL</a>-->
            </div>
          </div>
            <div class="col-md-3 stacking-top">
            <div class="card pricing-box p-x-0 pricing-best">
              <div class="card-header text-uppercase">
                BITMAIN ANTMINER S9
              </div>
              <div class="card-block">
                <p class="card-title text-danger">*Bu Cihaz Yurtdışı Garantilidir.</p>
                <h4 class="card-text">
                  <sup class="pricing-box-currency">₺</sup>
                  <span class="pricing-box-price">49</span>
                  <small class="text-muted text-uppercase">/1 YIL</small>
                </h4>
              </div>
              <ul class="list-group list-group-flush p-x">
                  <li class="list-group-item"><h5>-Kazım Gücü:</h5> 11.5-14.5 TH/s</li>
                  <li class="list-group-item"><h5>-Garanti Süresi:</h5>6 AY</li>
                  <li class="list-group-item"><h5>-Güç Tüketimi:</h5>1200-1400 WATT</li>
              </ul>
             <!-- <a href="#" class="btn btn-primary">SATIN AL</a>-->
            </div>
          </div>
          <div class="col-md-3 p-t-md wp wp-6">
            <div class="card pricing-box pricing-best">
              <div class="card-header text-uppercase">
                GPU MINING
              </div>
              <div class="card-block">
               <p class="card-title text-danger">*Bu Cihaz Yurtiçi Garantilidir.</p>
                <h4 class="card-text">
                  <sup class="pricing-box-currency">₺</sup>
                  <span class="pricing-box-price">99</span>
                  <small class="text-muted text-uppercase">/1 YIL</small>
                </h4>
              </div>
              <ul class="list-group list-group-flush p-x">
                <li class="list-group-item"><h5>-Kazım Gücü:</h5> 11.5-14.5 TH/s</li>
                <li class="list-group-item"><h5>-Garanti Süresi:</h5>18 AY</li>
                <li class="list-group-item"><h5>-Güç Tüketimi:</h5>1000-1200 WATT</li>
              </ul>
              <!--<a href="#" class="btn btn-primary-outline">SATIN AL</a>-->
            </div>
          </div>
        </div>
      </div>

    </section>

    <!-- Testimonials
    ================================================== -->

    <section class="section-testimonials text-xs-center bg-inverse"><a name="contact"></a>
      <div class="container">
	<div class="row-fluid">
            <h3>BİZE ULAŞIN</h3>
        	<iframe width="100%" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d12452.909690223143!2d35.4913878!3d38.7125873!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xb0cfadd2c3bfa6b8!2sNish+Kayseri!5e0!3m2!1str!2str!4v1521270940925"></iframe>
                <h4 class="wp wp-2">E-Mail</h4>
                <h5 class="wp wp-2">info@bitfindeks.com</h5>
                <h5 class="wp wp-2">İrtibat No(Canlı Destek)</h5>
                <h5><a href="tel:+908505328895"><span class="fa fa-phone"></span>(0850) 532 88 95</a></h5>
    </div>
    </div>
    </section>
    <!-- Text Content
    ================================================== -->

    <section class="section-text"><a name="about"></a>
      <div class="container">
        <h3 class="text-xs-center">HAKKIMIZDA</h3>
        <div class="row p-y-3">
          <div class="col-md-5">
            <p class="wp wp-7">A posuere donec senectus suspendisse bibendum magna ridiculus a justo orci parturient suspendisse ad rhoncus cursus ut parturient viverra elit aliquam ultrices est sem. Tellus nam ad fermentum ac enim est duis facilisis congue a lacus adipiscing consequat risus consectetur scelerisque integer suspendisse a mus integer elit massa ut.</p>
          </div>
          <div class="col-md-5 col-md-offset-2 separator-x">
            <p class="wp wp-8">A posuere donec senectus suspendisse bibendum magna ridiculus a justo orci parturient suspendisse ad rhoncus cursus ut parturient viverra elit aliquam ultrices est sem. Tellus nam ad fermentum ac enim est duis facilisis congue a lacus adipiscing consequat risus consectetur scelerisque integer suspendisse a mus integer elit massa ut.</p>
          </div>
        </div>
      </div>
    </section>
    <!-- News
    ================================================== -->
    <!--
    <section class="section-news">
      <div class="container">
        <h3 class="sr-only">News</h3>
        <div class="bg-inverse">
          <div class="row">
            <div class="col-md-6 p-r-0">
              <figure class="has-light-mask m-b-0 image-effect">
                <img src="https://images.unsplash.com/photo-1442328166075-47fe7153c128?q=80&fm=jpg&w=1080&fit=max" alt="Article thumbnail" class="img-fluid">
              </figure>
            </div>
            <div class="col-md-6 p-l-0">
              <article class="center-block">
                <span class="label label-info">Featured article</span>
                <br>
                <h5><a href="#">Design studio with product designer Peter Finlan <span class="icon-arrow-right"></span></a></h5>
                <p class="m-b-0">
                  <a href="#"><span class="label label-default text-uppercase"><span class="icon-tag"></span> Design Studio</span></a>
                  <a href="#"><span class="label label-default text-uppercase"><span class="icon-time"></span> 1 Hour Ago</span></a>
                </p>
              </article>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6 col-md-push-6 p-l-0">
              <figure class="has-light-mask m-b-0 image-effect">
                <img src="https://images.unsplash.com/photo-1434394673726-e8232a5903b4?q=80&fm=jpg&w=1080&fit=max" alt="Article thumbnail" class="img-fluid">
              </figure>
            </div>
            <div class="col-md-6 col-md-pull-6 p-r-0">
              <article class="center-block">
                <span class="label label-info">Featured article</span>
                <br>
                <h5><a href="#">How bold, emotive imagery can connect with your audience <span class="icon-arrow-right"></span></a></h5>
                <p class="m-b-0">
                  <a href="#"><span class="label label-default text-uppercase"><span class="icon-tag"></span> Design Studio</span></a>
                  <a href="#"><span class="label label-default text-uppercase"><span class="icon-time"></span> 1 Hour Ago</span></a>
                </p>
              </article>
            </div>
          </div>
        </div>
      </div>
    </section>
-->

{% endblock %}